/* ********************Footer CSS****************** */
footer .nav-link {
  color: rgb(175, 165, 165) !important;
}

footer .nav-link:hover {
  color: white !important;
  font-size: 1.01rem;
}

.footer {
  background-color: rgb(26, 24, 24);
}

/* ********************components/Qualification CSS****************** */
.qualification {
  margin-top: 100px;
}

.text-gray {
  color: gray;
}

.text-linkedin{
  color:  #0e76a8;
}

.text-lightgreen {
  color: lightgreen;
}

.list-disc {
  list-style: disc;
}

.text-paleblue{
  color: rgb(0, 170, 255);
}

@media (min-width: 640px) {
  .fs-sm-4{
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media (max-width: 639px) {
  .fs-xs-6{
    font-size: 1rem;
    font-weight: 200;
  }
}