/* ********************Footer CSS****************** */
footer .nav-link {
  color: rgb(175, 165, 165) !important;
}

footer .nav-link:hover {
  color: white !important;
  font-size: 1.01rem;
}

.footer {
  background-color: rgb(26, 24, 24);
}

/* ********************components/Qualifcation CSS****************** */
.qualification {
  margin-top: 100px;
}

.text-gray {
  color: gray;
}

.text-linkedin{
  color:  #0e76a8;
}

.text-lightgreen {
  color: lightgreen;
}

.list-disc {
  list-style: disc;
}

.text-paleblue{
  color: rgb(0, 170, 255);
}

.border-bottonm{
  border-bottom: 1px solid white;
}